 Principles of DataScience(22CDS54)
 Data Wrangling:  It prepares raw-data for analysis.
 This process involves discovering, cleaning and reformatting, restructuring/reshaping,
 enriching and validating data.
 1. Discovering
 (i)  Read  in  the  Crop_Production  data  from  the  csv  file.  Write  code  to  list  all  column
 names  that  have  trailing  or  leading  spaces,  check  for  inconsistent  spellings  or
 capitalization in categorical columns values like 'District'
 Hints:
 ●  df.info/columns
 ●  df[‘col’].unique

In [ ]:
import pandas as pd

cp = pd.read_csv("Crop_Production.csv")
cp.info()

dim = cp.shape
print("Dimensions of the crop production dataset: ", dim)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345336 entries, 0 to 345335
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   State       345336 non-null  object
 1   District    345336 non-null  object
 2   Crop        345327 non-null  object
 3   Crop_Year   345336 non-null  int64
 4   Season      345336 non-null  object
 5   Area        345336 non-null  float64
 6   Production  340388 non-null  float64
 7   Yield       345336 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 21.1+ MB
Dimensions of the crop production dataset:  (345336, 8)

In [ ]:
cols = cp.columns
print(cols)

cp.columns = [col.strip() for col in cp.columns]

print("Updated Column names: ", cp.columns)

Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')
Updated Column names:  Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
cp['State'].unique()
cp['State'] = cp['State'].str.replace(" ","_")
cp['State']

0         Andaman_and_Nicobar_Island
1         Andaman_and_Nicobar_Island
2         Andaman_and_Nicobar_Island
3         Andaman_and_Nicobar_Island
4         Andaman_and_Nicobar_Island
                     ...
345331                   West_Bengal
345332                   West_Bengal
345333                   West_Bengal
345334                   West_Bengal
345335                   West_Bengal
Name: State, Length: 345336, dtype: object

In [ ]:
cp['District'] = cp['District'].str.capitalize()
cp['District']

0         Nicobars
1         Nicobars
2         Nicobars
3         Nicobars
4         Nicobars
            ...
345331     Purulia
345332     Purulia
345333     Purulia
345334     Purulia
345335     Purulia
Name: District, Length: 345336, dtype: object

(ii)  Find the top 5 highest 'Yield' crops on average across the entire dataset.
 Hints  :
 ●  df.groupby:Splitting, Applying, and Combining.
 ●  mean(),  sort_values(), head()

In [ ]:
top_5 = cp.groupby('Crop')['Yield'].mean().sort_values(ascending=False).head(5)
top_5

Crop
Coconut      8833.247721
Sugarcane      55.592646
Banana         29.052143
Tapioca        18.905141
Onion          13.178732
Name: Yield, dtype: float64

(iii)  Find all crop names ('Crop') that appear fewer than 300 times in the entire dataset.
 Hints  :
 ●  value_count()

In [ ]:
count = cp['Crop'].value_counts()
final_count = count[count<300]
print(final_count)

Crop
Other Summer Pulses    67
Name: count, dtype: int64

 2.Structuring
 (i)  Rename all column names that have trailing or leading spaces
 Hints  :
 ●  df.rename(columns={oldname,newname})

In [ ]:
cp.rename(columns={"District ": "District"}, inplace=True)

 (ii)  What  is  the  seasonal  performance  of  each  crop,  in  terms  of  both  total  Production  and
 average Yield
 Hints  :
 ●  df.groupby a list of column names
 ●  agg():   apply one or more aggregation functions to one or more columns,

In [ ]:
seasons = cp.groupby(['Crop','Season']).agg(
    total_production=('Production', 'sum'),
    average_yield=('Yield', 'mean')
)
seasons

                            total_production  average_yield
Crop           Season
Arecanut       Autumn                 6180.0       0.745000
               Kharif                44043.0       2.849750
               Rabi                 843568.0       1.081816
               Summer                 4740.0       0.570000
               Whole Year         38400818.0       2.630663
...                                      ...            ...
Wheat          Winter                60261.0       1.737273
other oilseeds Kharif              9930075.0       3.443375
               Rabi                1529803.0       0.558216
               Summer                 1320.0       0.765000
               Whole Year           357083.0       0.698068

[243 rows x 2 columns]

 (iii)  What is the year-wise total production for each crop
 Hints  :
 ●  df.pivot(): transform a DataFrame from a "long" format to a "wide" format
 Arguments: index, columns, and values.

In [ ]:
year_wise_production_pivot = pd.pivot_table(
    cp,
    index='Crop',
    columns='Crop_Year',
    values='Production',
    aggfunc='sum'
)
year_wise_production_pivot

Crop_Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Crop,,,,,,,,,,,,,,,,,,,,,
Arecanut,3.085840e+05,7.992740e+05,1.639050e+05,3.554150e+05,3.765140e+05,1.857550e+05,4.171790e+05,3.403280e+05,1.277052e+06,5.296480e+05,...,1.976272e+06,2.013331e+06,2.632202e+06,2.428380e+06,2.671675e+06,2.806129e+06,3.254257e+06,4.459325e+06,5.616624e+06,NaN
Arhar/Tur,1.713966e+06,2.631971e+06,2.548362e+06,2.250868e+06,2.245522e+06,1.795802e+06,2.325568e+06,1.844834e+06,2.182634e+06,2.142357e+06,...,2.466955e+06,2.829836e+06,3.021118e+06,2.078572e+06,2.166798e+06,5.566946e+06,4.393212e+06,3.162968e+06,4.002570e+06,3992.0
Bajra,7.413318e+06,7.066586e+06,5.790675e+06,6.918314e+06,8.282554e+06,4.727075e+06,1.207654e+07,8.065418e+06,7.140932e+06,8.362733e+06,...,1.242019e+07,8.790516e+06,9.975276e+06,9.465871e+06,7.844496e+06,9.808929e+06,9.317335e+06,8.663982e+06,1.118727e+07,NaN
Banana,1.612186e+06,6.261125e+06,5.799103e+06,6.621168e+06,4.217203e+06,6.377277e+06,1.095690e+07,7.770000e+06,9.736783e+06,1.138148e+07,...,1.271813e+07,4.225699e+06,1.095912e+07,9.485918e+06,1.117720e+07,1.138981e+07,1.795928e+07,1.927700e+07,1.899704e+07,NaN
Barley,1.637528e+06,1.517019e+06,1.415660e+06,1.418426e+06,1.418042e+06,1.378846e+06,1.305739e+06,1.172425e+06,1.182367e+06,1.250273e+06,...,1.601559e+06,1.818542e+06,1.812277e+06,1.537673e+06,1.516953e+06,1.931653e+06,1.931234e+06,1.508052e+06,1.800494e+06,24479.0
Black pepper,5.644400e+04,7.944900e+04,6.380400e+04,7.907100e+04,8.053600e+04,9.076400e+04,9.374000e+04,1.033000e+05,1.210500e+05,9.452000e+04,...,5.023300e+04,1.286740e+05,1.068060e+05,6.770800e+04,7.695300e+04,6.619800e+04,7.536700e+04,1.407230e+05,1.253280e+05,NaN
Cardamom,1.221000e+03,7.144000e+03,8.528000e+03,8.916000e+03,9.084000e+03,1.048700e+04,1.116300e+04,1.017200e+04,1.204400e+04,1.247000e+04,...,2.699000e+03,1.180000e+04,1.588200e+04,1.779000e+04,2.133500e+04,1.925700e+04,2.046700e+04,1.208900e+04,1.072500e+04,NaN
Cashewnut,7.414200e+04,8.149800e+04,1.033390e+05,1.392750e+05,1.279310e+05,1.519190e+05,1.747990e+05,1.645720e+05,1.794270e+05,1.747420e+05,...,1.678740e+05,1.391860e+05,1.997340e+05,1.996360e+05,1.728050e+05,1.626730e+05,2.064390e+05,2.343700e+05,2.695600e+05,NaN
Castor seed,7.766590e+05,8.374600e+05,7.684280e+05,8.889740e+05,6.444820e+05,4.276610e+05,7.913040e+05,8.083090e+05,9.432750e+05,8.017870e+05,...,2.308175e+06,1.955512e+06,1.756330e+06,1.846959e+06,1.738132e+06,1.370502e+06,1.716381e+06,1.191733e+06,1.802079e+06,NaN
Coconut,5.643107e+09,7.332635e+09,7.975608e+09,9.096443e+09,8.839858e+09,1.197843e+10,1.188073e+10,1.339861e+10,1.445371e+10,1.515662e+10,...,1.864934e+10,1.246352e+10,1.641517e+10,1.711629e+10,1.777001e+10,1.574686e+10,1.516973e+10,1.719797e+10,1.754067e+10,NaN
Coriander,4.362000e+03,1.992990e+05,2.096090e+05,2.281070e+05,3.048730e+05,1.663440e+05,3.839560e+05,2.533120e+05,1.689920e+05,2.255180e+05,...,4.188180e+05,2.819870e+05,2.291190e+05,2.375110e+05,6.065540e+05,6.111340e+05,5.409480e+05,4.898260e+05,5.181620e+05,NaN
Cotton(lint),1.008553e+07,1.189052e+07,1.145850e+07,9.154974e+06,9.835596e+06,8.561895e+06,1.362369e+07,1.697435e+07,1.838854e+07,2.151054e+07,...,2.909648e+07,2.535156e+07,3.413942e+07,2.761802e+07,2.181677e+07,2.797933e+07,3.109960e+07,2.613362e+07,3.317887e+07,NaN
Cowpea(Lobia),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.350000e+02,...,6.131100e+04,4.564600e+04,5.619900e+04,6.107900e+04,8.145500e+04,6.417600e+04,9.448100e+04,9.738000e+04,1.330750e+05,NaN
Dry chillies,5.767010e+05,8.574390e+05,9.320810e+05,9.101180e+05,9.328700e+05,8.126350e+05,1.168856e+06,1.114208e+06,8.056660e+05,1.103984e+06,...,1.156883e+06,1.156128e+06,1.271115e+06,1.283986e+06,1.413577e+06,2.176709e+06,1.471655e+06,1.370449e+06,1.561755e+06,NaN
Garlic,1.417940e+05,2.632730e+05,4.424030e+05,1.709570e+05,2.468470e+05,2.742200e+05,5.261500e+05,6.391220e+05,4.814450e+05,6.722060e+05,...,1.054861e+06,8.635870e+05,1.173976e+06,3.374560e+05,1.940096e+06,2.798873e+06,2.886682e+06,2.674084e+06,2.727480e+06,39638.0
Ginger,5.089200e+04,2.101890e+05,2.863840e+05,3.283730e+05,3.467200e+05,3.431880e+05,3.131440e+05,3.689520e+05,4.935700e+05,4.635450e+05,...,4.706490e+05,9.026340e+05,9.059460e+05,1.298796e+06,1.817839e+06,1.378066e+06,1.367487e+06,1.114974e+06,1.278481e+06,NaN
Gram,3.554103e+06,6.852594e+06,5.068132e+06,3.857598e+06,5.467643e+06,4.227685e+06,5.738860e+06,5.376715e+06,5.571213e+06,6.393010e+06,...,6.983911e+06,8.176469e+06,7.713053e+06,6.902723e+06,6.717889e+06,1.035933e+07,1.256571e+07,9.932540e+06,1.143014e+07,558.0
Groundnut,5.371768e+06,9.397149e+06,5.689538e+06,6.499156e+06,7.018603e+06,4.117665e+06,8.114619e+06,6.605251e+06,7.826239e+06,5.230148e+06,...,6.988127e+06,4.758676e+06,1.022793e+07,6.983462e+06,6.323061e+06,7.148294e+06,9.489191e+06,6.712988e+06,9.957031e+06,933.0
Guar seed,NaN,NaN,3.745830e+06,5.411190e+05,9.347660e+05,1.062520e+05,2.309000e+05,5.169350e+05,7.210070e+05,7.591230e+05,...,1.932637e+06,2.456035e+06,3.244156e+06,2.991219e+06,2.449888e+06,1.583868e+06,1.645525e+06,1.307333e+06,1.526659e+06,NaN
Horse-gram,2.424140e+05,2.775970e+05,3.592630e+05,2.959470e+05,2.556570e+05,2.047000e+05,2.070640e+05,2.317190e+05,2.365070e+05,2.213900e+05,...,1.921870e+05,1.802990e+05,2.110990e+05,2.275890e+05,1.945590e+05,9.275100e+04,2.451710e+05,2.407440e+05,2.957590e+05,12844.0
Jowar,7.309335e+06,8.613248e+06,8.796877e+06,7.712942e+06,7.543634e+06,7.001744e+06,6.656948e+06,7.061909e+06,7.221632e+06,6.969280e+06,...,5.730084e+06,5.372419e+06,6.263185e+06,5.746456e+06,3.896324e+06,4.997992e+06,5.822466e+06,3.834906e+06,4.896201e+06,NaN
Jute,9.939551e+06,8.883415e+06,9.473741e+06,9.323541e+06,1.052711e+07,1.026222e+07,1.024420e+07,9.384546e+06,9.973409e+06,1.043313e+07,...,1.073494e+07,1.035457e+07,1.106731e+07,1.107386e+07,9.929635e+06,1.043309e+07,9.552835e+06,8.440660e+06,9.283060e+06,NaN
Khesari,2.846000e+04,2.085000e+04,1.819710e+05,2.946290e+05,3.870130e+05,3.106020e+05,4.423580e+05,2.882130e+05,3.174390e+05,3.724640e+05,...,3.659930e+05,3.192360e+05,3.088180e+05,3.989790e+05,2.820830e+05,3.733710e+05,2.632870e+05,2.483550e+05,1.801640e+05,NaN
Linseed,1.813420e+05,2.264700e+05,2.375760e+05,1.679300e+05,1.911810e+05,1.673570e+05,1.692750e+05,1.502490e+05,1.451270e+05,1.356190e+05,...,1.169430e+05,1.143340e+05,9.887800e+04,1.047130e+05,9.787500e+04,1.390290e+05,1.640130e+05,9.292700e+04,1.206240e+05,NaN
Maize,1.003280e+07,1.033608e+07,1.157440e+07,1.197740e+07,1.267334e+07,1.102521e+07,1.463903e+07,1.382333e+07,1.476411e+07,1.473079e+07,...,2.222508e+07,2.334409e+07,2.627975e+07,2.491452e+07,2.272112e+07,2.761218e+07,3.312276e+07,2.844779e+07,3.262485e+07,41538.0
Masoor,4.038300e+05,4.950330e+05,4.262680e+05,6.933060e+05,7.310600e+05,6.703490e+05,8.050350e+05,4.920460e+05,5.089890e+05,9.054040e+05,...,1.008720e+06,1.058869e+06,9.632950e+05,9.774050e+05,1.226030e+06,1.460662e+06,1.610117e+06,1.219656e+06,1.103037e+06,6998.0
Mesta,8.370760e+05,8.080910e+05,4.394650e+05,1.175429e+06,9.197440e+05,8.585880e+05,7.733260e+05,7.248420e+05,7.822390e+05,8.521000e+05,...,5.707170e+05,3.116950e+05,5.103810e+05,4.411540e+05,5.411930e+05,3.219500e+05,2.432970e+05,2.440040e+05,2.897480e+05,NaN
Moong(Green Gram),5.360080e+05,1.009550e+06,1.204870e+06,1.030706e+06,9.676070e+05,8.694420e+05,1.663977e+06,9.986550e+05,9.474130e+05,1.058117e+06,...,1.604231e+06,1.082579e+06,1.427327e+06,1.385030e+06,2.033170e+06,2.236803e+06,2.357448e+06,2.219762e+06,2.849167e+06,11.0
Moth,5.956570e+05,1.180500e+05,3.152800e+04,1.445820e+05,3.240250e+05,3.104500e+04,8.190970e+05,2.046040e+05,1.740470e+05,2.063790e+05,...,4.721060e+05,2.434830e+05,2.824890e+05,3.458000e+05,3.232330e+05,4.509070e+05,3.421910e+05,2.244800e+05,3.201250e+05,24.0
Niger seed,3.868154e+07,5.137300e+04,1.297140e+05,1.057430e+05,1.981620e+05,8.458500e+04,1.078900e+05,1.081290e+05,7.017100e+04,6.820700e+04,...,5.816700e+04,6.384800e+04,6.429200e+04,1.142960e+05,1.163830e+05,1.249140e+05,1.220970e+05,1.017520e+05,2.316300e+04,NaN
Oilseeds total,2.429000e+04,3.870331e+06,2.722800e+04,2.725200e+04,2.930700e+04,2.982100e+04,2.847800e+04,2.628100e+04,2.369500e+04,2.926500e+04,...,3.304700e+04,3.133700e+04,3.164900e+04,3.396500e+04,1.981961e+06,2.491352e+06,2.876526e+06,2.470359e+06,3.164745e+06,NaN
Onion,1.092206e+06,2.956316e+06,3.662926e+06,2.487088e+06,2.878134e+06,3.245248e+06,5.673149e+06,4.503183e+06,5.596092e+06,4.202638e+06,...,6.699311e+06,4.139310e+06,7.907053e+06,5.514730e+06,9.979409e+06,1.060190e+07,1.085389e+07,9.575381e+06,1.165018e+07,49670.0
Other Rabi pulses,1.545750e+05,6.289110e+05,8.813570e+05,4.469970e+05,5.423650e+05,4.381670e+05,4.827970e+05,1.611560e+05,1.563150e+05,5.424600e+05,...,1.056690e+05,9.060100e+04,1.050170e+05,9.819600e+04,1.866990e+05,1.733330e+05,2.525710e+05,2.113720e+05,2.716060e+05,21.0
Other Cereals,NaN,1.007000e+05,3.300000e+03,8.268100e+04,3.387000e+03,2.968000e+03,8.803200e+04,1.449150e+05,1.086420e+05,7.934600e+04,...,6.884400e+04,4.589900e+04,3.240800e+04,4.109000e+03,4.949100e+04,1.550000e+05,5.760100e+04,5.322000e+04,1.211670e+05,683.0
Other Kharif pulses,7.846200e+04,2.540340e+05,3.892020e+05,4.265480e+05,3.809060e+05,3.534630e+05,4.828730e+05,2.282390e+05,2.133860e+05,5.818100e+05,...,2.186960e+05,1.447840e+05,1.634270e+05,1.655780e+05,2.514080e+05,1.721530e+05,2.513960e+05,1.887730e+05,2.287580e+05,15379.0
Other Summer Pulses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.458000e+03,7.330000e+02,6.600000e+02,5.543000e+03,NaN
Peas & beans (Pulses),4.976410e+05,5.970800e+05,6.320760e+05,4.278550e+05,5.409780e+05,5.132870e+05,6.495100e+05,7.677800e+04,2.535480e+05,1.982270e+05,...,6.973220e+05,7.031710e+05,7.815480e+05,8.138530e+05,9.676580e+05,1.335729e+06,1.124947e+06,9.555820e+05,1.034858e+06,4135.0
Potato,1.452688e+07,2.075275e+07,2.223070e+07,2.037884e+07,2.234520e+07,2.221488e+07,2.230462e+07,2.197137e+07,2.260089e+07,1.958492e+07,...,2.757622e+07,3.046810e+07,2.734791e+07,3.279917e+07,3.264341e+07,4.107848e+07,4.218223e+07,4.036309e+07,3.961274e+07,114638.0
Ragi,1.657002e+06,2.688133e+06,2.416319e+06,2.637569e+06,2.326537e+06,1.306247e+06,1.890155e+06,2.289564e+06,2.279826e+06,1.295837e+06,...,1.804425e+06,1.559240e+06,2.057440e+06,2.055314e+06,1.834658e+06,1.009798e+06,2.260014e+06,1.246043e+06,1.762291e+06,125898.0
Rapeseed &Mustard,3.832839e+06,5.033427e+06,5.373887e+06,3.697859e+06,4.731970e+06,3.595694e+06,5.963476e+06,7.247028e+06,7.896713e+06,7.120982e+06,...,6.403065e+06,7.891726e+06,7.308631e+06,5.963155e+06,6.629552e+06,7.927234e+06,8.415434e+06,9.966464e+06,9.101979e+06,11853.0
Rice,6.131756e+07,8.306501e+07,8.351114e+07,8.324865e+07,9.019796e+07,7.160333e+07,8.802706e+07,8.420229e+07,8.961393e+07,9.225179e+07,...,1.050590e+08,1.076318e+08,1.113647e+08,1.147299e+08,1.017974e+08,1.189361e+08,1.181793e+08,1.186900e+08,1.346315e+08,724429.0
Safflower,3.302000e+03,2.354500e+05,2.597390e+05,2.018050e+05,2.201740e+05,1.792450e+05,1.364660e+05,1.794810e+05,2.290540e+05,2.381020e+05,...,1.134110e+05,8.905900e+04,1.244690e+05,6.931100e+04,4.162000e+04,9.243400e+04,5.605900e+04,2.416000e+04,4.201600e+04,NaN
Sannhamp,1.135500e+04,1.796500e+04,6.448200e+04,6.769800e+04,2.120800e+04,2.262500e+04,2.329300e+04,1.339100e+04,1.219500e+04,1.226800e+04,...,1.131700e+04,1.179000e+04,1.313100e+04,5.734000e+03,5.924000e+03,6.143000e+03,6.763000e+03,3.562000e+03,3.030000e+04,NaN
Sesamum,4.387120e+05,5.394780e+05,5.541730e+05,5.290430e+05,6.768770e+05,4.217790e+05,7.651680e+05,6.692120e+05,6.565980e+05,6.668790e+05,...,8.215640e+05,8.454720e+05,6.538340e+05,8.158550e+05,8.210170e+05,7.858020e+05,7.771920e+05,6.863510e+05,6.567260e+05,537.0
Small millets,5.107480e+05,6.747310e+05,4.575490e+05,4.953430e+05,5.048280e+05,3.803670e+05,4.230880e+05,3.699860e+05,2.713910e+05,4.158060e+05,...,3.591050e+05,3.371070e+05,4.019550e+05,3.349220e+05,3.840550e+05,3.618800e+05,3.819750e+05,2.930710e+05,3.487770e+05,65289.0
Soyabean,5.537713e+06,7.106821e+06,6.834358e+06,5.253274e+06,5.921466e+06,4.583853e+06,7.788019e+06,6.854980e+06,8.554640e+06,8.817146e+06,...,1.244353e+07,1.499138e+07,1.085802e+07,9.774198e+06,7.611866e+06,1.318245e+07,1.111167e+07,1.254482e+07,1.019675e+07,8800.0
Sugarcane,2.014071e+08,2.669867e+08,3.011512e+08,2.961902e+08,2.965834e+08,2.871574e+08,2.398483e+08,2.299088e+08,2.857611e+08,3.350200e+08,...,3.462448e+08,3.399394e+08,3.667770e+08,3.831583e+08,3.401721e+08,3.215619e+08,3.843295e+08,4.045828e+08,3.672102e+08,7970299.0
Sunflower,2.338180e+05,7.760300e+05,5.407700e+05,6.164790e+05,6.651840e+05,8.457010e+05,9.197930e+05,1.297053e+06,1.284496e+06,1.044841e+06,...,4.196480e+05,4.831590e+05,4.531810e+05,3.811990e+05,2.313200e+05,2.208070e+05,2.495100e+05,1.790850e+05,2.119050e+05,4.0
Sweet potato,2.357190e+05,2.760230e+05,5.881240e+05,4.742450e+05,4.874710e+05,5.971440e+05,6.102250e+05,8.912050e+05,4.980990e+05,4.055240e+05,...,3.649430e+05,3.825560e+05,3.997820e+05,3.763210e+05,3.749670e+05,3.743590e+05,4.050870e+05,4.507530e+05,8.975270e+05,NaN
Tapioca,2.881590e+06,5.596386e+06,6.010718e+06,6.825440e+06,2.653607e+06,4.698211e+06,5.925673e+06,7.140169e+06,7.595507e+06,8.420099e+06,...,6.752145e+06,2.789734e+06,5.287507e+06,6.129265e+06,5.266167e+06,4.751704e+06,5.633793e+06,5.178984e+06,5.883610e+06,NaN
Tobacco,4.012090e+05,5.803890e+05,5.524140e+05,7.028930e+05,7.261300e+05,8.071920e+05,8.828000e+05,9.402830e+05,1.052362e+06,8.787880e+05,...,1.330597e+06,8.676570e+05,9.578250e+05,1.075226e+06,9.335710e+05,9.732260e+05,1.298568e+06,9.420350e+05,1.162818e+06,6.0
Turmeric,6.498400e+04,2.023650e+05,2.926410e+05,3.076600e+05,1.515950e+05,5.598650e+05,2.052080e+05,2.518830e+05,2.407260e+05,2.869630e+05,...,5.682980e+05,1.637710e+05,5.439540e+05,5.056470e+05,6.413710e+05,8.857400e+05,7.975730e+05,9.287310e+05,1.042547e+06,4186.0
Urad,7.856710e+05,1.160841e+06,1.437136e+06,1.250692e+06,1.303678e+06,1.276617e+06,1.428299e+06,1.033248e+06,9.798320e+05,1.127622e+06,...,1.737712e+06,1.729928e+06,1.563688e+06,1.860503e+06,1.854489e+06,2.880142e+06,3.933663e+06,3.001110e+06,2.083610e+06,13351.0
Wheat,6.470464e+07,7.067807e+07,7.598774e+07,6.958500e+07,7.274060e+07,6.584034e+07,7.286345e+07,6.964788e+07,6.738447e+07,7.787083e+07,...,1.031160e+08,1.001402e+08,1.030523e+08,8.495817e+07,9.447139e+07,1.135476e+08,1.116353e+08,1.195103e+08,1.324181e+08,937003.0
other oilseeds,NaN,7.731000e+03,NaN,4.360000e+02,1.260000e+02,1.747500e+04,3.149970e+05,3.150000e+02,8.580000e+02,4.802000e+03,...,1.120916e+06,5.502200e+04,1.486074e+06,1.417878e+06,9.601400e+04,1.138170e+05,1.804472e+06,2.012378e+06,2.749614e+06,30.0

 (iv)  Which crop, in which year, produced the highest average yield
 Hints  :
 ●  df.melt(): transform or reshape DataFrames from a "wide" format to a "long"
 format.
 Arguments: id_vars, value_vars, var_name, value_name
 [use transformed data from pivot)

In [ ]:
final = pd.melt(year_wise_production_pivot.reset_index(), id_vars=['Crop'], value_vars=[2010,1997,1998], var_name='Production')
final

               Crop Production       value
0          Arecanut       2010   2479449.0
1         Arhar/Tur       2010   2714948.0
2             Bajra       2010  12301767.0
3            Banana       2010   6857028.0
4            Barley       2010   1692201.0
..              ...        ...         ...
160         Tobacco       1998    580389.0
161        Turmeric       1998    202365.0
162            Urad       1998   1160841.0
163           Wheat       1998  70678070.0
164  other oilseeds       1998      7731.0

[165 rows x 3 columns]

3. Cleaning
(i) Change inconsistent columns values like 'State' and 'District' from uppercase to
lowercase and remove trailing or leading spaces
Hints:
● df[‘col’].str.lower(), df[‘col’].str.strip()

In [ ]:
cp['State'] = cp['State'].str.lower()
cp['State'] = cp['State'].str.strip()
cp['District'] = cp['District'].str.lower()
cp['District'] = cp['District'].str.strip()

(ii) Instead of filling missing Production with 0 or a global mean, impute the NaN values
by calculating Area * (Average_Yield). The Average_Yield should be the average for
that specific District and Crop combination.
Hints:
● groupby(['District', 'Crop']), transform('mean'), and fillna()).

In [ ]:
cp['group'] = cp.groupby(['District', 'Crop'])['Yield'].transform('mean')
imputed = cp['Area'] * cp['group']
cp['Production'] = cp['Production'].fillna(imputed)

(iii) Find the wheat production of Odisha state
Hints:
● filter by Multiple Conditions (AND - &)

In [ ]:
odisha = cp[(cp['Crop'] == "Wheat") & (cp['State'] == "odisha")]
odisha

,State,District,Crop,Crop_Year,Season,Area,Production,Yield,group
228258,odisha,anugul,Wheat,1997,Rabi,94.0,67.0,0.71,1.437647
228259,odisha,anugul,Wheat,1998,Summer,100.0,154.0,1.54,1.437647
228260,odisha,anugul,Wheat,1999,Rabi,750.0,910.0,1.21,1.437647
228261,odisha,anugul,Wheat,2000,Rabi,102.0,140.0,1.38,1.437647
228262,odisha,anugul,Wheat,2001,Rabi,110.0,170.0,1.55,1.437647
...,...,...,...,...,...,...,...,...,...
228730,odisha,sundargarh,Wheat,2015,Summer,140.0,191.0,1.37,1.649565
228731,odisha,sundargarh,Wheat,2016,Summer,45.0,71.0,1.59,1.649565
228732,odisha,sundargarh,Wheat,2017,Summer,22.0,40.0,1.84,1.649565
228733,odisha,sundargarh,Wheat,2018,Summer,62.0,134.0,2.16,1.649565
228734,odisha,sundargarh,Wheat,2019,Summer,30.0,41.0,1.36,1.649565

4. Enrichment
(i) Merge with External Data
Hints:
● df.merge(data1,data2)
Check whether common column and its values are compatible or not before
merge.

In [ ]:
table1 = pd.read_csv("Crop_Production1.csv")
table2 = pd.read_csv("city_day.csv")

table1.rename(columns = {"District": "city"}, inplace=True)
table2.rename(columns = {"City": "city"}, inplace=True)

all_names= set(table1['city']) | set(table2['city'])

dict = {
    'KOLKATA': 'Kolkata',
    'SHILLONG': 'Shillong',
    'MUMBAI': 'Mumbai',
    'JAIPUR': 'Jaipur',
    'AIZAWL': 'Aizawl',
    'KOCHI': 'Kochi',
    'THIRUVANANTHAPURAM': 'Thiruvananthapuram',
    'BENGALURU': 'Bengaluru',
    'GURUGRAM': 'Gurugram',
    'AHMADABAD': 'Ahmedabad',
    'AHMEDABAD': 'Ahmedabad',
    'DELHI_TOTAL': 'Delhi',
    'DELHI': 'Delhi',
    'AMRITSAR': 'Amritsar',
    'PATNA': 'Patna',
    'CHENNAI': 'Chennai',
    'LUCKNOW': 'Lucknow',
    'HYDERABAD': 'Hyderabad',
    'COIMBATORE': 'Coimbatore',
    'BHOPAL': 'Bhopal',
    'VISAKHAPATNAM': 'Visakhapatnam',
    'BRAJRAJNAGAR': 'Brajrajnagar',
    'ERNAKULAM': 'Ernakulam',
    'BANGALORERURAL': 'Bangalore Rural',
    'AMARAVATI': 'Amaravati',
    'GUWAHATI': 'Guwahati',
    'CHANDIGARH': 'Chandigarh',
    'TALCHER': 'Talcher',
    'JORAPOKHAR': 'Jorapokhar'
}

table1['city'] = table1['city'].replace(dict)
table1['city'] = table1['city'].str.lower()
table1['city'] = table1['city'].str.strip()

table2['city'] = table2['city'].replace(dict)
table2['city'] = table2['city'].str.lower()
table2['city'] = table2['city'].str.strip()

table3 = pd.merge(table1, table2, on='city')
table3

,State,city,Crop,Crop_Year,Season,Area,Production,Yield,PM2.5,PM10,...,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,313.22,607.98,...,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
1,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,186.18,269.55,...,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
2,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,87.18,131.90,...,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
3,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,151.84,241.84,...,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
4,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,146.60,219.13,...,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512772,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,26.42,39.30,...,19.59,33.20,1.10,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory
1512773,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,25.93,45.54,...,16.39,35.98,0.76,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory
1512774,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,21.30,22.21,...,16.74,34.07,0.96,6.62,62.57,0.09,0.01,NaN,104.0,Moderate
1512775,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,24.14,30.66,...,20.29,34.17,1.05,7.50,68.75,0.17,0.16,NaN,110.0,Moderate
1512776,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,15.95,4.85,...,16.44,33.52,1.02,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory

(ii) Create new column {Pollutant ratios} derived from existing columns {SO2,NOx}
Hints:
● df[new_col]= derived formula
Pollutant ratios= SO2/NOx

In [ ]:
table3['Pollutant_Ratio'] = table3['SO2']/table3['NOx']
table3

,State,city,Crop,Crop_Year,Season,Area,Production,Yield,PM2.5,PM10,...,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant_Ratio,Cal_Yield,Difference
0,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,313.22,607.98,...,9.25,41.68,14.36,24.86,9.84,472.0,Severe,0.083642,1.410448,0.000448
1,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,186.18,269.55,...,6.65,29.97,10.55,20.09,4.29,454.0,Severe,0.075448,1.410448,0.000448
2,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,87.18,131.90,...,2.65,19.71,3.91,10.23,1.99,143.0,Moderate,0.055266,1.410448,0.000448
3,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,151.84,241.84,...,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor,0.095228,1.410448,0.000448
4,Delhi,delhi,Arhar/Tur,2003,Kharif,134,189.0,1.41,146.60,219.13,...,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor,0.087059,1.410448,0.000448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512772,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,26.42,39.30,...,7.29,68.51,0.10,0.07,NaN,95.0,Satisfactory,0.372129,NaN,NaN
1512773,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,25.93,45.54,...,6.48,77.45,0.09,0.00,NaN,98.0,Satisfactory,0.395363,NaN,NaN
1512774,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,21.30,22.21,...,6.62,62.57,0.09,0.01,NaN,104.0,Moderate,0.395460,NaN,NaN
1512775,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,24.14,30.66,...,7.50,68.75,0.17,0.16,NaN,110.0,Moderate,0.369640,NaN,NaN
1512776,Tamil Nadu,chennai,Sesamum,2018,Rabi,5,NaN,0.00,15.95,4.85,...,9.23,48.37,0.09,0.00,NaN,92.0,Satisfactory,0.561436,NaN,NaN

5. Validating
(i) The Yield column should equal Production / Area. Create a new column called
Calculated_Yield using this formula. Then, find the sum of the difference between
Calculated_Yield and Yield to see if the original data was accurate.

In [ ]:
table3['Cal_Yield'] = table3['Production']/table3['Area']
table3['Difference'] = table3['Cal_Yield'] - table3['Yield']
sum = table3['Difference'].sum()
sum

np.float64(-225.72850924973886)

(ii) Check if any Area, Production, or Yield values are negative.
Check if Production > 0 and Area == 0
Check if any Crop_Year is in the future (e.g., > 2024).

In [ ]:
isNeg = table3[(table3['Area'] < 0) | (table3['Production'] < 0) | (table3['Yield'] < 0)]
if isNeg.empty:
    print("No Negative values found.")
else:
    print("Negative values found.")

zero = table3[(table3['Production'] > 0) & (table3['Area'] == 0)]
if zero.empty:
    print("\nRows with Production > 0 and Area == 0 not found.")
else:
    print("\nRows with Production > 0 and Area == 0 found.")

futureCropYear = table3[table3['Crop_Year'] > 2024]
if futureCropYear.empty:
    print("\nRows with Crop_Year in the future (> 2024) not found.")
else:
    print("\nRows with Crop_Year in the future (> 2024) found.")

No Negative values found.

Rows with Production > 0 and Area == 0 not found.

Rows with Crop_Year in the future (> 2024) not found.